<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/88658f32-7f4f-4be1-8a6a-c6e742dd9292/resourceGroups/MSDNResGrpBA2_ForRutuja/providers/Microsoft.Web/sites/bookclubmvc</ResourceId>
    <ResourceGroup>MSDNResGrpBA2_ForRutuja</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bookclubmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4f432074-da50-4319-86c8-f818ad681c23</ProjectGuid>
    <PublishUrl>https://bookclubmvc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bookclubmvc</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>